{% if menus %}
	<ul>
	{% for item in items %}
		<li class="{{ item.classes | join(' ') }}">
			{% if 'cart' in item.classes %}
				<a class="cart__icon flex justify-center items-center relative" target="{{ item.target }}" href="{{ item.link }}">
					<span class="screen-reader-text">{{ item.title }}</span>
					{% include "cart.svg" %}
					<span class="cart-qty bg-primary text-dark ml-1 rounded-full font-bold hidden text-md">0</span>
				</a>
			{% else %}
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% endif %}
			{% if item.children %}
				{% include "molecules/menu.twig" with {'items': item.children} %}
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}