<ul class="menu-items {{ classes }}">
	{% for item in items %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target ?: '_self' }}" href="{{ item.link }}">{{ item.title }}</a>
			{% if item.children %}
				{% include "molecules/menu.twig" with {items: item.children, classes: 'menu-items-children'} %}
			{% endif %}
		</li>
	{% endfor %}
</ul>
