{% macro input(name, placeholder = 'Example text', type = 'text', vaildation, value) %}
	<div class='input-wrapper form-group relative'>
		<label for='{{ name|e }}'>
			<input
                id='{{ name|e }}'
                type='{{ type|e }}'
                name='{{ name|e }}'
                value='{{ value|e }}'
                placeholder='{{ placeholder|e }}'
                minlength='3'
                required
                data-pristine-{{ type|e }}-message='{{vaildation|e('wp_kses_post')}}'
            />
		</label>
	</div>
{% endmacro %}

{% macro button(text = 'Learn More', class = 'btn', type = 'submit') %}
    <button value="Submit" type='{{ type|e }}' class='{{ class|e }}'>
        <span class='btn-text'>{{ text|e }}</span>
        <span class='btn-spinner hidden'>
            <svg viewBox='0 0 30 31'>
                <use xlink:href='#icon-search'></use>
            </svg>
        </span>
    </button>
{% endmacro %}
