{{ add_script('pristine') }}
{{ add_script('cta') }}
{{ add_style('cta') }}

{% from 'atoms/input.twig' import input, button %}

<section class='newsletter bg-primary relative py-16'>
	<div class="newsletter__confirmation absolute w-full transition-all duration-700 ease-in-out opacity-0">
		<div class="container text-center">
			<h2 class='coupon-text text-1xl md:text-2xl mb-8'>{{ __(thanks_message, 'look') }}</h2>
			<div class="coupon-message transition-all duration-700 ease-in-out opacity-0">
				<p class=" text-md mb-2 font-semibold">{{ __('Your coupon code is', 'look')}}<span class="coupon-code md:mt-0 md:inline-block block mt-5 ml-2 text-lg"></span></p>
				<p class='coupon-fineprint mt-4 text-sm'>{{ __(fineprint|e, 'look') }}</p>
			</div>
		</div>
	</div>
	<div class='newsletter__inner container text-center transition-all duration-700 ease-in-out'>
		<h2 class='newsletter__heading text-1xl md:text-2xl mb-6 italic'>{{ __(heading|e('wp_kses_post'), 'look')}}</h2>
		<p class='newsletter__description text-md mb-10 font-medium'>{{ __(description|e('wp_kses_post'), 'look')}}</p>
		<form class='newsletter-form' novalidate>
			{{ input('newsletterEmail', __(placeholder, 'look'), 'email', __('Please format like "name@email.com"', 'look')) }}
			{{ button( __(button, 'look'), 'btn-secondary px-24' ) }}
		</form>
		<p class='newsletter__fineprint mt-2 text-sm'>{{ __(notice|e, 'look') }}</p>
	</div>
</section>
