{#
/**
 * @file
 * Featurette Block
 *
 * Available variables:
 * - heading: The title for this region.
 * - description: The description for this region.
 * - link: The link for this region.
 * - type: The type for this region to determine media asset shown.
 * - image: The image for this region.
 * - video: The video for this region.
 *
 * @see _core/models/blocks/featurette & _core/filters/blocks/featurette
 *
 */
#}
<section class="featurette {{ classes }}">
	<div class="container lg:flex py-24 md:py-40">
		<div class="featurette__primary mb-8 lg:mb-0 lg:w-1/2">
			<h2 class="featurette__heading italic mt-4 text-1xl md:text-2xl">{{ __(heading|e('wp_kses_post')) }}</h2>
		</div>
		<div class="featurette__secondary lg:w-1/2 lg:max-w-md">
			<p class="featurette__description text-md">{{ __(description|e('wp_kses_post')) }}</p>
			{% if link %}
				<a class="btn" href="{{ link.url|e('esc_url') }}" target="{{ link.target|e }}">
					<span>{{ link.title|e }}</span>
				</a>
			{% endif %}
		</div>
	</div>
</section>
