{#
/**
 * @file
 * Hero Block
 *
 * Available variables:
 * - link: The link for this region.
 * - type: The type for this region to determine media asset shown.
 * - image: The image for this region.
 * - video: The video for this region.
 *
 * @see _core/models/blocks/hero & _core/filters/blocks/hero
 *
 */
#}

{{ add_style("hero") }}
{% from "atoms/button.twig" import button %}
<section class="hero bg-dark">
	<div class="hero__wrapper relative">
		<div class="hero__asset absolute w-full h-full z-10 overflow-hidden inset-0">
			<img class="w-full h-full object-cover" srcset="{{ image.srcset }}" src="{{ image.src }}" alt="{{ image.alt|e }}">
			<div class="hero__overlay absolute w-full top-0 bottom-0 z-20"></div>
		</div>
		<div class="hero__content container relative z-30 flex items-end">
			<div class="hero__content-inner mb-8 md:mb-32 mt-16 md:mt-64 text-light">
				<h2 class="hero__heading text-primary uppercase tracking-tighter italic leading-none md:text-4xl font-bold">{{ heading|e('wp_kses_post') }}</h2>
				<p class="hero__description font-semibold">{{ description|e('wp_kses_post') }}</p>
				<div class="hero__actions">
					{{ button_1 ? button(button_1.title, button_1.url, button_1.target) }}
					{{ button_2 ? button(button_2.title, button_2.url, button_2.target, 'btn btn-tertiary') }}
				</div>
			</div>
		</div>
	</div>
</section>
