{{ add_script('add-to-cart') }}
{{ add_script('products') }}
{{ add_style('products') }}
<section class="products-featured py-12 md:py-20">
	<div class="container lg:flex justify-between">
		<div class="products-featured__primary max-w-sm md:mr-4">
			<h2 class="italic text-1xl md:text-2xl mb-4 md:mb-8">{{ __( heading|e, 'look' ) }}</h2>
			<p class="text-base md:text-md">{{ __( description|e('wp_kses_post'), 'look' ) }}</p>
            <a href="#">{{ __('BROWSE OUR SHOP', 'look') }}</a>
		</div>
		<div class="products-featured__secondary md:flex justify-end">
			{% if products %}
				{% for product in products %}
					{% include "molecules/preview-product.twig" with product|array %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>
